* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

// media query
// @media screen and (min-width:480px) { }
$pc: 1024px;
$tab: 680px;
$sp: 480px;
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}


// navbar
.navbar {
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  &__links {
    display: flex;
    list-style: none;
  }
  &__link {
    a {
      padding: 10px;
      color: #fff;
    }
    a:hover {
      border-bottom: 2px solid #00BCD4;
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
  div {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
    transition: 0.5s;
  }
}

.overlay {
  z-index: 90;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

@include sp {
  body {
    overflow-x: hidden;
  }
  .navbar {
    &__links {
      // visibility: hidden;を有効にすると画面サイズを変えたときに一瞬出るドロワーが非表示になるが、
      // translateX(0%) -> translateX(100%)のtransitionが無効になる
      // visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      width: 80vw;
      height: 100vh;
      z-index: 100;
      background-color: #222;
      flex-direction: column;
      text-align: center;
      padding: 20vh 0;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
    }
    &__link {
      margin: 30px;
    }
  }
  .burger {
    display: block;
    z-index: 110;
  }
}

.nav--active {
  transform: translateX(0%);
  visibility: visible;
}
.burger--active {
  .line1 {
    transform: rotate(-45deg) translate(-3px, 7px);
    // transform: rotate(-45deg);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-3px, -7px);
    // position: relative;
  }
}
.overlay--active {
  opacity: 0.6;
  visibility: visible;
}



.container {
  padding: 30px;
}